# ignore pycache everywhere
**/__pycache__

/Classification/MirrorVehicleDetection/DatasetDownloader/Dataset/*
/Classification/MirrorVehicleDetection/Dataset/*
/Classification/TrafficLightDetection/Dataset/*
/Classification/TrafficLightDetection/*.pt
/Classification/VehicleDetection/Dataset/*

/ObjectDetection/DatasetGenerator/Dataset/*