# ignore pycache everywhere
**/__pycache__

# Classification
/Classification/MirrorVehicleDetection/Dataset/*

/Classification/MNIST/Dataset/*

/Classification/TrafficLightDetection/Dataset/*
/Classification/TrafficLightDetection/*.pt

/Classification/VehicleDetection/Dataset/*

# Object Detection
/ObjectDetection/DatasetGenerator/Dataset/*

# Dataset Downloader
/DatasetDownloader/Dataset/*